
   <ngb-carousel *ngIf="images" class="carousel" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let data of movieList">
      <div class="carousel-discreption">
        <div class="title movie-title" >{{data.name}} </div> 
        <div class="rating flex " >
          <div class="star flex" *ngFor="let star of counter(data.rating); let i = index">
            <mat-icon>star</mat-icon>
          </div> 
          <span class="imdb item-center">{{data.rating}}/10 IMDb</span>
        </div>
        <div class="durations-and-relaese-month flex">
          <div class="age-reistriction item-center">{{data.ageRistriction}}</div>
          <div class="duration">{{data.duration}}</div>
          <div class="release-month">{{data.year}}</div>
        </div>
        <div class="about-movie">{{data.description}}</div>
        <button class="btn button-hover" mat-raised-button> 
          <mat-icon>play_arrow</mat-icon>
          Play now
      </button>
  </div>
      <div class="picsum-img-wrapper">
        <div class="black-shade"></div>
        <img [src]="assetPath+''+data.imageUrl" class="carousel-image" alt="Random slide">
      </div>
    </ng-template>
  </ngb-carousel>